
.traslation{
    transition: ease 3s;
    width: 200px;
    height: 200px;
    background-color: rgb(62, 220, 220);
}
.traslation1{
    transition: height 2s;
    width: 400px;
    height: 200px;
    background-color: rgb(26, 110, 110);
}
 .traslation:hover {
    width:400px;
    transition-timing-function: ease;
}
.traslation1:hover {
    height: 400px;
    transition-timing-function:ease-in ;
}

body{
    display: flex;
    justify-content: space-between;
}
.traslation2{
    height:200px;
    width: 400px;
    background-color: aquamarine;
    transition: height 2s;

}
.traslation2:hover{
    height: 400px;
    transition-timing-function:ease-in-out ;
}
